// Rouge syntax highlighting.
//
// Use `bundle exec run css rouge` to generate update reference CSS.

.highlight {
  background: var(--rouge-bg);
  color: var(--rouge-fg);

  table td { padding: 5px; }
  table pre { margin: 0; }

  .lineno     { color: var(--rouge-line-number); }

  .c, .cd, .cm, .c1, .cs, .cp  { color: var(--rouge-comment); font-style: italic; }
  .cs                          { font-weight: bold; }

  .err     { color: var(--rouge-error-fg); background-color: var(--rouge-error-bg); }
  .gd      { color: var(--rouge-generic-deleted-fg); background-color: var(--rouge-generic-deleted-bg); }
  .gd .x   { color: var(--rouge-generic-deleted-fg); background-color: var(--rouge-generic-deleted-bg); }
  .ge      { font-style: italic; }
  .gr      { color: var(--rouge-error-fg); }
  .gh      { color: var(--rouge-generic-heading); }
  .gi      { color: var(--rouge-generic-inserted-fg); background-color: var(--rouge-generic-inserted-bg); }
  .gi .x   { color: var(--rouge-generic-inserted-fg); background-color: var(--rouge-generic-inserted-bg); }
  .go      { color: var(--rouge-comment); }
  .gp      { color: var(--rouge-comment); }
  .gs      { font-weight: bold; }
  .gu      { color: var(--rouge-generic-subheading); }
  .gt      { color: var(--rouge-error-fg); }

  .k, .kc, .kd, .kp, .kr   { color: var(--rouge-keyword); font-weight: bold; }
  .kt                      { color: var(--rouge-name-class); font-weight: bold; }

  .o, .ow  { color: var(--rouge-operator); font-weight: bold; }

  .m, .mf, .mh, .mi, .mo, .il   { color: var(--rouge-literal-number); }

  .s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .s1, .ss { color: var(--rouge-literal-string); }
  .sr  { color: var(--rouge-literal-regex); }

  .n   { color: var(--rouge-name); }
  .na  { color: var(--rouge-name-attribute); }
  .nb  { color: var(--rouge-name-builtin); }
  .nc  { color: var(--rouge-name-class); font-weight: bold; }
  .no  { color: var(--rouge-name-constant); }
  .ni  { color: var(--rouge-name-builtin); }
  .ne  { color: var(--rouge-name-class); font-weight: bold; }
  .nf  { color: var(--rouge-name-function); font-weight: bold; }
  .nn  { color: var(--rouge-name-class); }
  .nt  { color: var(--rouge-name-tag); }
  .nv  { color: var(--rouge-name-variable); }

  .bp  { color: var(--rouge-name-builtin); }
  .vc  { color: var(--rouge-name-variable); }
  .vg  { color: var(--rouge-name-variable); }
  .vi  { color: var(--rouge-name-variable); }

  .w   { color: var(--rouge-line-number); }
}
