// Scrollbar
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 4px;

  &:hover {
    background: var(--scrollbar-hover-color);
  }
}
